<head>
	<link rel="stylesheet" href="css/contact.css" />
</head>

<body> 
	<h2>Contact Us</h2>

	<div id="phone"> <span class="glyphicon glyphicon-earphone" aria-hidden="true"> </span> 703-232-1699</div>

	<div id="direct">Directions</div>

	<div id="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.1723086059906!2d-77.33620068448897!3d38.9428917795636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64834ec0301ed%3A0xdffa34e32a48dcec!2s1875+Campus+Commons+Dr%2C+Reston%2C+VA+20191!5e0!3m2!1sen!2sus!4v1465239853117" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>



</body>