<head>
	<link rel="stylesheet" href="css/appView.css" />
</head>

	<div class="row_table-header">
		<div class="col-md-2">
			<h3> Score</h3> 
		</div>
		<div class="col-md-4">
			<h3>Applicant Information</h3>
		</div>
	</div>
	<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Points</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
	
		<div class="row applicant-row" ng-repeat="applicant in applicants">
			 <div id="s" class="col-md-2">
			 {{applicant.score}}</div>
			  <div class="col-md-4">
					<div id='name'>{{applicant.name}}</div>
					<div id='org'>{{applicant.currentLocation.organization}}</div>
				    <div id='loc'>{{applicant.currentLocation.location}}</div>
				    <div id='title'>{{applicant.currentLocation.title}}
					<div id='skills'>{{applicant.skills.language.join(', ')}}</div>
				</div>
		</div>

</table>
