<div id="charts1">
	<div id="l">
		<canvas id="Language" width="100%" height="100%"></canvas>
	</div>
	<div id="w">
		<canvas id="Web" width="100%" height="100%"></canvas>
	</div>
</div>

<div id="charts2">
	<div id="e">
		<canvas id="ETL" width="100%" height="100%"></canvas>
	</div>
	<div id="m">
		<canvas id="Mobile" width="100%" height="100%"></canvas>
	</div>
</div>

<div id="charts3">
	<div id="da">
		<canvas id="Databases" width="100%" height="100%"></canvas>
	</div>
	<div id="b">
		<canvas id="Big" width="100%" height="100%"></canvas>
	</div>
	<!-- <div id="de">
		<canvas id="Degree" width="100%" height="100%"></canvas>
	</div> -->
</div>