<div id="charts1">
	<div id="l">
		Languages
		<canvas id="Language" width="100%" height="100%"></canvas>
	</div>
	<div id="w">
		Web App
		<canvas id="Web" width="100%" height="100%"></canvas>
	</div>
</div>

<div id="charts2">
	<div id="e">
		ETL
		<canvas id="ETL" width="100%" height="100%"></canvas>
	</div>
	<div id="m">
		Mobile
		<canvas id="Mobile" width="100%" height="100%"></canvas>
	</div>
</div>

<div id="charts3">
	<div id="da">
		Databases
		<canvas id="Databases" width="100%" height="100%"></canvas>
	</div>
	<div id="b">
		Big Data
		<canvas id="Big" width="100%" height="100%"></canvas>
	</div>
</div>