<h1>About Us</h1>

<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Goal</h2>
                <p>At the start of our nine week internship program at Data Works, we were presented with a real life situation that we would solve by building a web application. </p>
            </div>
        </div>

<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/Brantley.png" alt="">
                <h3>Brentley Gilbert <br>
                    <small>James Madison University '17</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/Alissa.png" alt="">
                <h3>Alissa Cobb <br>
                    <small>George Mason University '17</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/Will.png" alt="">
                <h3>William Goubeaux <br>
                    <small>Rensselaer Polytechnic Institute '17</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Nitin Sudini <br>
                    <small>Virginia Tech '17</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/Dennis.png" alt="">
                <h3>Dennis Huang <br>
                    <small>University of Virginia '17</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>