<body ng-controller="AdminCtrl">
	<div>
	    <li><a href='/app/service/logout'>logout</a></li>

		<h2>Logged in.</h2>

	<div id="locations">
	<h3>Locations</h3>
	<div>Toggle: <input type="checkbox" id="locToggle" checked="checked"></div>
	<div>Location 1(City,State): <input type="text" id="locationInput" value="{{settings.rows[0].jobLocation.location1.values[0]}}"></div>
	<div>Location 2(City,State): <input type="text" id="locationInput" value="{{settings.rows[0].jobLocation.location2.values[0]}}"></div>
	</div>

	<h3>Keywords</h3>

	

</div>
</body>