#Brantley{
	height: 40%;
	width: auto;
}

#Alissa{
	height: 40%;
	width: auto;
}

#Will{
	height: 40%;
	width: auto;
}

#Nitin{
	height: 40%;
	width: auto;
}

#Dennis{
	height: 40%;
	width: auto;
}

.img-center {
	margin: 0 auto;
}

#about {
	font-family: 'Lato', sans-serif;
	font-size: 115%;
}

#mainAbout, #thankYou, #team {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    color: #565656;
}

#team h2 {
	border-bottom: 1px solid #D5D5D5;
    margin: 0 0 3%;
}

#mainAbout h2, #thankYou h2 {
	border-bottom: 1px solid #D5D5D5;
    margin: 4% 0 3%;
}
