#Brantley{
	height: 35%;
	width: auto;
}

#Alissa{
	height: 35%;
	width: auto;
}

#Will{
	height: 35%;
	width: auto;
}

#Nitin{
	height: 35%;
	width: auto;
}

#Dennis{
	height: 35%;
	width: auto;
}

.img-center {
	margin: 0 auto;
}
