/*each charts is a group of 2 charts*/
/*#charts1, #charts2, #charts3{
	width: 100%;
	height: auto;
	display: flex;
	margin-left: 5%;
	margin-bottom: 5%;
}*/

div > #charts1, div > #charts2, div > #charts3 {
	display: flex;
	position: relative;
    left: 13%;
    padding-bottom: 5%;
}

#l{
	width: 24%;
	height: auto;
	margin-right: 15%;
	font-size: 225%;
	text-align: center;
	font-family: 'Gurajada', serif;
}

#e{
	width: 24%;
	height: auto;
	margin-right: 15%;
	font-size: 225%;
	text-align: center;
	font-family: 'Gurajada', serif;
}

#w{
	width: 26%;
	height: auto;
	margin-right: 15%;
	font-size: 225%;
	text-align: center;
	font-family: 'Gurajada', serif;
}

#m{
	width: 26%;
	height: auto;
	font-size: 225%;
	text-align: center;
	font-family: 'Gurajada', serif;
}

#da{
	width: 24%;
	height: auto;
	margin-right: 15%;
	font-size: 225%;
	text-align: center;
	font-family: 'Gurajada', serif;
}

#b{
	width: 26%;
	height: auto;
	font-size: 225%;
	text-align: center;
	font-family: 'Gurajada', serif;
}

@media (max-width: 767px) {
	#da, #e, #m, #l, #w, #b{
		width: 75% !important;
	}

	div > #charts1, div > #charts2, div > #charts3 {
		display: block;
	}
}
