.content {
  padding-top: 10px;
}

.applicant-row {
  padding: 0px 0px 10px 0px;
  /*outline: 1px solid black;*/
}

.jumbotron {
  margin-top: 30px;
}

.navbar-default {
  background-color: #00A6F6;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img {
	position: relative;
	bottom: 15px;
}

h1 { 
	font-family: 'Keania One', cursive;
	font-weight: 400; 
	position: absolute;
	top: 90px;

}

/*.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}*/