.content {
  padding-top: 1.5%;
  padding-bottom: 5.5%;
  z-index: 2;
}

.container{
  height: 100%;
}

 /*only for edge*/
@supports ( -ms-accelerator:true ) {
  .container{
    height: 0%;
  }
  .well{
    padding: 0 7px;
  }
  
}

.applicant-row {
  padding: 0% 0% 2.5% 0%;
  /*outline: 1px solid black;*/
}

.page-header{
  border-bottom: 0;
}

@media (max-width: 767px) {
  .navbar-header > p{
    margin-left: 1.5%;
    width: 200%;
  }
  .dwl{
    padding-top: 1.5%;
  }
  .footer{
    height: 80px;
    width: 100%;
  }


  #fb{
    padding-top: 1.5%;
  }
  #li{
    padding-top: 1.5%;
  }
  #tw{
    padding-top: 1.5%;
  }
  #gt{
    padding-top: 1.5%;
  }

  .content{
    padding-top: 5%; 
  }

  .nav{
    float: left !important;
  }
}

#bb { 
  height: 74px;
  width: auto;
  margin-right: .5%;
  margin-bottom: 1%;
}

.nav{
  padding-left: 2.5%;
  padding-top: 1.5%;
  /*padding-top: .13%;*/
  float: right;
}

.navbar-header > p{
  color: white;
  font-size: 225%;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0%;
}

.navbar-header > p > a{
  color: white;
  text-decoration: none;
}

.navbar-header > p > a:hover{
  text-decoration: none;
}

#s > a:hover, #n > a:hover{
  text-decoration: none;
  color: #1976d2;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}


.navbar-default {
  background-color: #0072c6;
  font-family: 'Gurajada', serif;
  font-size: 175%;
}

.navbar-default .navbar-toggle{
  background-color: #689F38;
  border: none;
  margin-top: 10%;
  margin-right: -105%;
}

.navbar-default .navbar-toggle:hover{
  background-color: #1B5E20; 
  border: none;
}

.navbar-header{
  width: 50%;
  padding-top: .5%;
}


.nav.navbar-nav li a {
  font-weight: bold;
  color: white;
  font-size: 150%;
}

.nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus{
  color: #fbfc00;
}
 

 .dropdown-menu li a{
  color: black !important;
  font-size: 125% !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: normal;
}

body {
  padding-top: 1.5%;
  padding-bottom: 0%;
}


#dw {
	margin-top: .5%;
  left: 5%;
  height: 75%;
  width: auto;
  z-index: 10;
}

.dwl{
  text-align: center;
  position: relative;
  height: 55%;
  width: auto;
}

#fb {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
  z-index: 10;
}

#tw {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
  z-index: 10;
}

#gt {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
  z-index: 10;
}

#li {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
  z-index: 10;
}

.page-header{
  text-align: center;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  display:none;
  z-index: 1;
}