.content {
  padding-top: 10px;
}

.applicant-row {
  padding: 0px 0px 10px 0px;
  /*outline: 1px solid black;*/
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 { 
	font-family: 'Keania One', cursive;
	font-weight: 400; 
	position: absolute;
	top: 40px;

}

ul.nav {
	padding-top: 40px;
}

