.content {
  padding-top: 0%;
  /*margin-bottom: 50%;*/
}

#test {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: white;
}

.empty{
  background-color: transparent;
  /*outline: 1px solid black;*/
}

.applicant-row {
  padding: 0% 0% 2.5% 0%;
  /*outline: 1px solid black;*/
}

.page-header{
  background-color: #CCFF90;
  border-bottom: 0;
}

.page-header > h1{
  font-size: 700%; 
  color : #1976D2;
}

@media (max-width: 768px) {
  .page-header > h1{
    font-size: 500%;
  }
  .dwl{
    padding-top: 1.5%;
  }
  .footer{
    height: 80px;
    width: 100%;
  }
  .jumbotron{
    width: 100%;
  }
  .form-wrapper-2 button{
    padding: 1%;
  }
  .form-wrapper-2 input{
    padding: 2.5%;
  }
  #fb{
    padding-top: 1.5%
  }
  #li{
    padding-top: 1.5%
  }
  #tw{
    padding-top: 1.5%
  }
  #gt{
    padding-top: 1.5%
  }
}

.jumbotron {
  margin-top: 10%;
  background-color: #CCFF90;
  width: 100%;
}

.navbar-default {
  background-color: #00A6F6;
  font-family: 'Gurajada', serif;
  font-size: 175%;
  z-index: 3;
}

.navbar-default .navbar-toggle{
  background-color: #CCFF90;
  border-color: #CCFF90;
  margin-top: 2.25%;
}

.navbar-default .navbar-toggle:hover{
  background-color: #8BC34A; 
}

.navbar-header >p{
  color: white;
  font-size: 175%;
  margin-top: 2%;
  /*padding-right: 30%;*/
  font-weight: bold;
}

.nav.navbar-nav li a {
  font-weight: bold;
  color: white;
  font-size: 150%;
  margin-top: 7.5%;
}

/*.dropdown-menu li a{
  color: black !important;
  font-size: 125% !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: normal;
}

.dropdown-header {
  color: black !important;
  font-size: 150% !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: normal;
}
*/
body {
  padding-top: 1.5%;
  padding-bottom: 0%;
}


#dw {
	margin-top: .5%;
  left: 5%;
  height: 75%;
  width: auto;
}

.dwl{
  text-align: center;
  position: relative;
  height: 55%;
  width: auto;
}

#fb {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#tw {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#gt {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#li {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

.page-header{
  text-align: center;
}

#ch{
  height: auto;
  width: 15%;
  padding-left: 1.5%;
  padding-bottom: 2.5%;
}

h1 { 
	font-family: 'Original Surfer', cursive;
	/*font-weight: 400%; */
	position: relative;
	top: 105%;
	font-color: #B71C1C;
}

.copy {
  padding-top: .40%;
}



/*search bar*/
.button_box2{
  width: 100%;
  float: left;
  margin: 0 5% 0 5%;
}

.form-wrapper-2{
  width: 100%;
  float: left;
}

.form-wrapper-2 input {
padding: 1.5%;
margin-top: 12.5%;
float: left;
font: 65% 'Raleway', sans-serif;
border: 0;
background: white;
}

.form-wrapper-2 input::-webkit-input-placeholder {
color: black;
font-weight: normal;
font-style: italic;
}

.form-wrapper-2 button {
  /*overflow: visible;*/
  position: relative;
  float: left;
  border: 0;
  cursor: pointer;
  padding: 3%;
  margin-top: 12.5%;
  font-size: 55%;
  color: black;
  text-transform: uppercase;
  text-align: center;
  border-color: #CCFF90;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEB3B), to(#64DD17));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
}
.form-wrapper-2 button:hover{
  border-color: #CCFF90;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEB3B), to(#64DD17));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
}






/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  z-index: 1;
  background-color: #f5f5f5;
}