.content {
  padding-top: 10px;
}

.applicant-row {
  padding: 10px 0px 10px 0px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 { 
	font-family: 'Keania One', cursive;
	font-weight: 400;
	padding-top: 50px;
}