.content {
  padding-top: 0%;
  padding-bottom: 5.5%;
  z-index: 2;
}

.container{
  height: 100%;
}

.applicant-row {
  padding: 0% 0% 2.5% 0%;
  /*outline: 1px solid black;*/
}

.page-header{
  border-bottom: 0;
}

@media (max-width: 767px) {
  .navbar-header > p{
    margin-left: 1.5%;
  }
  .dwl{
    padding-top: 1.5%;
  }
  .footer{
    height: 80px;
    width: 100%;
  }


  #fb{
    padding-top: 1.5%
  }
  #li{
    padding-top: 1.5%
  }
  #tw{
    padding-top: 1.5%
  }
  #gt{
    padding-top: 1.5%
  }
}

/*h1 { 
  font-family: 'Original Surfer', cursive;
  position: relative;
  padding-top: 5%;
  margin-top: 7%;
  background-color: #CCFF90;
  width: 100%;
}
*/
.nav{
  padding-left: 2.5%;
  padding-top: 1%;
  /*padding-top: .13%;*/
  float: right;
}

.navbar-header > p{
  color: white;
  font-size: 175%;
/*  margin-top: 2%;*/
  /*padding-right: 30%;*/
  font-weight: bold;
  margin-bottom: 0%;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}


.navbar-default {
  background-color: #0072c6;
  font-family: 'Gurajada', serif;
  font-size: 175%;
}

.navbar-default .navbar-toggle{
  background-color: #689F38;
  border: none;
  margin-top: 5%;
  margin-right: -111%;
}

.navbar-default .navbar-toggle:hover{
  background-color: #1B5E20; 
  border: none;
}

.navbar-header{
  width: 50%;
  padding-top: .5%;
}


.nav.navbar-nav li a {
  font-weight: bold;
  color: white;
  font-size: 150%;
}
 

 .dropdown-menu li a{
  color: black !important;
  font-size: 125% !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: normal;
}

body {
  padding-top: 1.5%;
  padding-bottom: 0%;
}


#dw {
	margin-top: .5%;
  left: 5%;
  height: 75%;
  width: auto;
}

.dwl{
  text-align: center;
  position: relative;
  height: 55%;
  width: auto;
}

#fb {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#tw {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#gt {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#li {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

.page-header{
  text-align: center;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  display:none;
  z-index: 1;
}