.content {
  padding-top: 0%;
  padding-bottom: 5.5%;
}

.applicant-row {
  padding: 0% 0% 2.5% 0%;
  /*outline: 1px solid black;*/
}

.page-header{
  background-color: #CCFF90;
  border-bottom: 0;
}

.page-header > h1{
  font-size: 700%; 
  color : #1976D2;
}

@media (max-width: 768px) {
  #tfnewsearch{
    float: left;
    margin-left: -1%;
  }
  .page-header > h1{
    font-size: 500%;
  }
  .dwl{
    padding-top: 3%;
  }
  .footer{
    height: 80px;
  }
  #fb{
    padding-top: 1.5%
  }
  #li{
    padding-top: 1.5%
  }
  #tw{
    padding-top: 1.5%
  }
  #gt{
    padding-top: 1.5%
  }
}
.jumbotron {
  margin-top: 10%;
  background-color: #CCFF90;
}

.navbar-default {
  background-color: #00A6F6;
  font-family: 'Gurajada', serif;
  font-size: 175%;
}

.navbar-default .navbar-toggle{
  background-color: #CCFF90;
  border-color: #CCFF90;
  margin-top: 2.25%;
}

.navbar-default .navbar-toggle:hover{
  background-color: #8BC34A; 
}

.glyphicon{
  text-align: center;
}

.btn-default{
  font-size: 50%;
  margin: 0;
  margin-top: .75%;
  float: right;
  border-color: #CCFF90;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEB3B), to(#64DD17));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  
}

.navbar-header >p{
  color: white;
  font-size: 175%;
  margin-top: 2%;
  padding-right: 30%;
  font-weight: bold;
}

.nav.navbar-nav li a {
  font-weight: bold;
  color: white;
  font-size: 150%;
  margin-top: 7.5%;
}

.dropdown-menu li a{
  color: black !important;
  font-size: 125% !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: normal;
}

.dropdown-header {
  color: black !important;
  font-size: 150% !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: normal;
}

body {
  padding-top: 1.5%;
  padding-bottom: 0%;
}


#dw {
	margin-top: .5%;
  left: 5%;
  height: 75%;
  width: auto;
}

.dwl{
  text-align: center;
  position: relative;
  margin-top: .5%;
  height: 55%;
  width: auto;
}

#fb {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#tw {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#gt {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

#li {
  float: right;
  position: relative;
  padding-right: .25%;
  margin-top: .75%;
  height: 55%;
  width: auto;
}

.page-header{
  text-align: center;
}

#ch{
  height: auto;
  width: 15%;
  padding-left: 1.5%;
  padding-bottom: 2.5%;
}

h1 { 
	font-family: 'Original Surfer', cursive;
	/*font-weight: 400%; */
	position: relative;
	top: 105%;
	font-color: #B71C1C;
}

.copy {
  padding-top: .40%;
}

#tfheader{
    background-color: #OOA6F6;
  }
  #tfnewsearch{
    float:right;
    padding:20px;
    margin-top: -5px;
  }
  .tftextinput2{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#666;
    border:1px solid #76FF03; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }

  .btn-default:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBC02D), to(#2E7D32));
    background: -moz-linear-gradient(top,  #FFEB3B,  #4CAF50);
  }
  .tfclear{
    clear:both;
  }



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  /*background-color: #76FF03;*/
}