#profile{
  height: 25%;
  width: auto;
}

#top-link-block.affix-top {
    position: fixed; /* allows it to "slide" up into view, change to absolute to get it to slide */
    bottom: 25px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
    z-index: 2;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 25px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
    z-index: 2;

}

.well{
    background-color: #00A6F6;
    color: white;
    border-radius: 5px 20px 5px;
    /*font-weight: bold;*/
    font-family: 'Gurajada', serif;
    font-size: 160%;
}

table{
	width:100%;
  height: 100%;
}

th{
  text-align: center;
}

#s{
  width: 4% !important;
}

#p{
  width: 5% !important;
}

#o{
  width: 3% !important;
}

#n{
  width: 10% !important;
}

td{
  text-align: center;
  width: 15%;
  bottom-border: 1px solid #CCC;
  /*border: 1px solid black;*/
}

#body{
  text-align: left;
}


#hide{
  border-top:0;
}

#file{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  border: none;
  color: #007ead; 
  background: none; 
  padding: 5%;  
}

#file:hover{
  text-decoration: none;
  background: none;
  color: #1DE9B6;
}

#eye{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  border: none;
  color: #007ead; 
  background: none; 
  padding: 5%;
 }

#eye:hover{
  text-decoration: none;
  background: none;
  color: #FDD835;
}

#up{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead;
  background: none; 
  padding: 5%;
 }

#up:hover{
	text-decoration: none;
  background: none;
  color: #4CAF50;
}

#down{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
}

 #down:hover {
    text-decoration: none;
    background: none;
    color: #D50000;
  }