.col-md-2 > h3 {
	font-weight: bold;
	outline: 1px solid black;
}
.col-md-4 > h3{
	font-weight: bold;
	outline: 1px solid black;
}

#s {
	/*padding-top: .5%;*/
	font-size: 175%;
	outline: 1px solid black;
}

#skills{
	font-size: 125%;
	outline: 1px solid black;
}

#name{
	font-size: 175%;
	outline: 1px solid black;
}

#loc{
	font-size: 125%;
	outline: 1px solid black;
}

#entity{
	font-size: 125%;
	outline: 1px solid black;
}