.sortorder.reverse:after {
  content: '\25b2';   /*// BLACK UP-POINTING TRIANGLE*/
  font-size: 75%;
}
.sortorder:after {
  content: '\25bc';  /* // BLACK DOWN-POINTING TRIANGLE*/
  font-size: 75%;
}

#profile{
  height: 70px;
  width: auto;
  cursor: pointer; 
}

#size{
  font-size: 125%;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 0;
}

#four{
  cursor: unset;
  padding-left: 0;
}

#two{
  padding-right: 10%;
  cursor: unset;
}

#three{
  padding-right: 33.5%;
  cursor: unset;
}

#csCheck, #cpeCheck, #itCheck, #vaCheck, #mdCheck, #dcCheck, #uvaCheck, #jmuCheck, #rpiCheck, #devCheck, #arcCheck, #manCheck, #engCheck, #gmuCheck, #paCheck{
  cursor: pointer;
}

#top-link-block.affix-top {
  position: fixed; /* allows it to "slide" up into view, change to absolute to get it to slide */
  bottom: 25px; /* negative of the offset - height of link element */
  left: 10px; /* padding from the left side of the window */
  z-index: 2;
}

#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 25px; /* height of link element */
  left: 10px; /* padding from the left side of the window */
  z-index: 2;

}

.block > #select{
  outline: none;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 115%;
  margin-bottom: 1%;
  background: #689F38;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: .5% 1%;
  -moz-appearance: none;
  padding-right: 2%;
  background: #689F38 url("../images/drop-down-arrow-wh.png");
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: 90% 45%;
}

#u{
  background: white;
  font-weight: bold;
  color: black;
}


/*upload button*/
.btn-primary {
  color: white;
  background-color: #689F38;
  border: none;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 115%;
  border-radius: 25px;
}

.btn-primary:hover{
  background: #1B5E20;
  border: none;
}

@-moz-document url-prefix() {
  .well{
    padding: 5px !important;
  }
  td{
    height: 10px !important;
  }
}

.well{
  background-color: #689F38;
  color: white;
  border-radius: 5px 20px 5px;
  /*font-weight: bold;*/
  font-family: 'Gurajada', serif;
  font-size: 160%;
  padding: 0 8% 0 8%;
}

table{
	width:100%;
  font-family: 'Open Sans', sans-serif;
}

th, th > #expander{
  text-align: center;
  font-size: 125%;
  color: #333;
}

th > #expander:hover{
  color: #673AB7;
}

a{
  outline: none;
}

#s{
  width: 8% !important;
  font-size: 115%;
}

#s > a:hover, #n > a:hover{
  text-decoration: none;
  color: #1976d2;
}

#s > a, #n > a{
  color: #689F38;
  cursor: pointer;
}

#nl{
  color: black;
  cursor: pointer;
}

#high{
  color: #558B2F;
  font-weight: bolder;
}

#mid{
  color: #FFC107;
  font-weight: bolder;
}

#low{
  color: #d50000;
  font-weight: bolder;
} 

/*p = profile, s=score, n=name, ci= current info, d=degree, c=contact, and o = options*/

#ci{
  width: 12% !important;
  max-width: 270px !important;
}

#d{
  width: 10% !important;
  max-width: 240px !important;
}

#p{
  width: 5% !important;
}

#o{
  width: 6% !important;
  max-width: 115px !important;
}

#n{
  width: 10% !important;
  max-width: 250px !important;
}

#c{
  width: 10% !important;
  max-width: 225px !important;
}

#skill, #ed, #link{
  width: 33% !important;
}


#title{
  text-decoration: underline;
}

td > #valD{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valL{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valM{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valW{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valB{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valE{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valGPA{
 padding-bottom: 3.5%;
 display: table-cell;
 word-wrap: break-word;
 white-space: pre-line;
}

td > #valS{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valLI{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valGH{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}

td > #valI{
  padding-bottom: 3.5%;
  display: table-cell;
  word-wrap: break-word;
  white-space: pre-line;
}


@media (max-width: 767px) {
  #o{
    width: 5% !important;
    vertical-align: center;
  }

  #p{
    width: 6% !important;
  }

  #n{
    width: 15% !important;
  }

  #s{
    width: 5% !important;
  }

  #select{
    margin-left: -1%;
    padding-right: 5% !important;
  }

  #upload{
    margin-right: -1%;
    font-size: 100%;
    /*padding: .5% 1%;*/
  }

  td > #valD{
    padding: 4.75%;
  }

  td > #valL{
    padding: 4%;
  }

  td > #valM{
    padding: 9.1%;
  }

  td > #valW{
    padding: 6%;
  }

  td > #valB{
    padding: 7%;
  }

  td > #valE{
    padding: 12%;
  }

  .alert{
    margin-right: 200px !important;
  }

  #search{
    float: left;
  }

  .btn-default{
    float: left;
  }

  #arrow{
    margin-left: 80%;
    margin-top: -9%;
  }

  #sb{
    margin-right: 40%;
    margin-top: 1%;
  }

}

td{
  text-align: center;
  width: 15%;
  bottom-border: 1px solid #CCC;
  z-index: 5;
}

#body{
  text-align: left;
  width: 33%;
}

#stats{
  font-size: 155%;
  margin-left: 13%;
  margin-top: .25%;
  border: none;
  color: #689f38;
  background: none;
  z-index: 5;
  outline: none;
}

#stats:hover{
  color: #673AB7;
}


#hide{
  border-top:0 !important;
}

#file{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  border: none;
  color: #007ead; 
  background: none; 
  padding: 5%;  
  z-index: 2;
}

#file:hover{
  text-decoration: none;
  background: none;
  color: #1DE9B6;
}

#eye{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  border: none;
  color: #007ead; 
  background: none; 
  padding: 5%;
  z-index: 2;
}

#eye:hover, #nl:hover{
  text-decoration: none;
  background: none;
  color: #FDD835;
}

#up{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead;
  background: none; 
  padding: 5%;
  z-index: 2;
}

#favoritesIndicator{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #4CAF50; 
}

#up:hover{
	text-decoration: none;
  background: none;
  color: #4CAF50;
}

#down{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
  z-index: 2;
}

#archiveIndicator{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #D50000;   
}

#down:hover {
  text-decoration: none;
  background: none;
  color: #D50000;
}

#question{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
  z-index: 2;
}

#reviewIndicator{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #FF5722; 
}

#question:hover {
  text-decoration: none;
  background: none;
  color: #FF5722;
}

#back{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
  z-index: 2;
}

#back:hover {
  text-decoration: none;
  background: none;
  color: #E91E63;
}


/*toast messages*/
#toastContainer {
  z-index: 2;
  float: left;
  padding-left: 31%;
  font-size: 100%;
}

/*search dropdown*/
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: 5%;
  margin-left: 107%;
  padding: 10px 24px;
  width: 200%;
  border: 1px solid #ababab;
  border-radius: 10px;
}

.btn-default{
  border-radius: 25px;
  margin-left: 362%;
  margin-top: 2.5%;
  padding: 2px 6px;
}

#word{
  font-size: 75%;
}

#arrow{
  z-index: 5;
  outline: none;
}

/*search bar*/
input {
  font: 115% 'Raleway', sans-serif;
  background: white;
  float: right;
  border-radius: 25px;
  outline: none;
  border-top-color: white;
  border-bottom-color: #ababab;
  border-right-color: #ababab;
}

input::-webkit-input-placeholder {
  color: black;
  font-weight: normal;
  font-style: italic;
}

input:focus, input:active {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 1.25%;
  cursor: pointer;
  z-index: 1;
}

/* align glyph */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: -18%;}

/* add padding  */
.left-addon input  { padding-left:  25%; }
.right-addon input { padding-right: 25%; }

input[type='text'] {
  padding-left: 2.5%;
  max-width : calc(100% - 2.5%);
}

.btn-default:hover{
  background-color: #689F38;
  border-color: #689F38;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
  background-color: #689F38;
  border-color: #689F38;
}

#one{
  padding: 2.5%;
}

/*for ipads*/
@media (min-width: 768px) and (max-width: 991px){
  .dropdown.dropdown-lg .dropdown-menu {
    width: 325%;
  }
  #arrow{
    margin-left: 367%;
    margin-top: 6%;
  }

  #sb{
    margin-right: 4%;
    margin-top: 0.75%;
  }
  #size{
    display: none;
    background-color: yellow;
  }
  body{
    padding-top: 5.5%;
  }
}

/*for phones*/
@media (max-width: 767px) {
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    margin-left: -1%;
    width: 150%;
  }
  .autocomplete{
    margin-left: 0 !important;
  }

  #two{
    display: block;
    padding-top: 2.5%;
  }

  #three{
    padding-bottom: 2.5%;
  }
}

/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
  margin-left: 30%;

}

.autocomplete input{
  font-size: 125%;
  width: 100%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  z-index: 2;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 95%;
  background: white;
  margin-top: 5.25%;
  margin-left: 3.5%;
  padding-left: 0;
  padding-right: 0;
  border-left: 1px solid rgba(81, 203, 238, 1);
  border-right: 1px solid rgba(81, 203, 238, 1);
  border-bottom: 1px solid rgba(81, 203, 238, 1);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  z-index: 2;
}

.autocomplete li:last-child{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;  
  padding-bottom: 2%;
  z-index: 2;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2.5%;
  background-color: white;
  z-index: 2;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
  z-index: 2;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

#loadMask{
  position: fixed;
  bottom: 0;
  margin-left: 30%;
  transform: scale(0.5);
  /*background-color: white;*/
  /*border-radius: 25px;*/
}

#searchGraph {
  position: absolute;
  left: 90%;
  margin-top: 2%;
}

.carousel {
  transition: all linear 0.5s;
}

.carousel.ng-hide {
  opacity: 0;
}

mark {
  background-color: #FFFF00;
}