.col-md-2 > h3 {
	font-weight: bold;
	outline: 1px solid black;
}
.col-md-4 > h3{
	font-weight: bold;
	outline: 1px solid black;
}

#s {
	/*padding-top: .5%;*/
	font-size: 175%;
	outline: 1px solid black;
}

#name{
	font-size: 175%;
	outline: 1px solid black;
}

#skills{
	font-size: 105%;
	outline: 1px solid black;
}

#loc{
	font-size: 125%;
	outline: 1px solid black;
}

#title{
	font-size: 125%;
	outline: 1px solid black;
}

#org{
	font-size: 125%;
	outline: 1px solid black;
}

table{
	width:100%;
    /*border: 1px solid black;*/

}
td {
    /*padding: 5px;*/
    border-bottom: 1px solid gray;
    text-align: center;

}

th{
	border-bottom: 1px solid black;
	text-align: center;
}

#up{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  float: right;
  border-color: #CCFF90;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEB3B), to(#64DD17));
}

#up:hover{
	text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBC02D), to(#2E7D32));
    background: -moz-linear-gradient(top,  #FFEB3B,  #4CAF50);
}

#down{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  float: right;
  border-color: #CCFF90;
  background: -webkit-gradient(linear, left top, left bottom, from(#FB8C00), to(#F44336));

}

 #down:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#E65100), to(#B71C1C));
    background: -moz-linear-gradient(top,  #FFEB3B,  #4CAF50);
  }