.sortorder.reverse:after {
  content: '\25b2';   /*// BLACK UP-POINTING TRIANGLE*/
}
.sortorder:after {
  content: '\25bc';  /* // BLACK DOWN-POINTING TRIANGLE*/
}

#profile{
  height: 70px;
  width: auto;
}

#top-link-block.affix-top {
  position: fixed; /* allows it to "slide" up into view, change to absolute to get it to slide */
  bottom: 25px; /* negative of the offset - height of link element */
  left: 10px; /* padding from the left side of the window */
  z-index: 2;
}

#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 25px; /* height of link element */
  left: 10px; /* padding from the left side of the window */
  z-index: 2;

}

.block > #select{
  outline: none;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 115%;
  margin-bottom: 1%;
  background: #689F38;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: .5% 1%;
  -moz-appearance: none;
  padding-right: 2%;
  background: #689F38 url(http://www.phytecs.com/wp-content/themes/phytec/images/drop-down-arrow-wh.png);
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: 90% 45%;
}

#u{
  background: white;
  font-weight: bold;
  color: black;
}

/*search bar*/
input {
font: 115% 'Raleway', sans-serif;
background: white;
float: right;
border-radius: 25px;
outline: none;
}

input::-webkit-input-placeholder {
color: black;
font-weight: normal;
font-style: italic;
}

input:focus, input:active {
    border-radius: 25px;
    border-color: #00A6F6;
}

.form-control{
  margin-right: -33%;
  border-radius: 25px;
  width: 100%;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 1.5%;
  cursor: pointer;
}

/* align glyph */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: -27%;}

/* add padding  */
.left-addon input  { padding-left:  25%; }
.right-addon input { padding-right: 25%; }

input[type='text'] {
      padding-left: 2.5%;
      max-width : calc(100% - 2.5%);
}


/*@-moz-document url-prefix() {
    .form-wrapper-2 button{
      margin-top: 20px !important;
      padding: 5.6px !important;
    }
    .form-wrapper-2 input{
      margin-top: 20px !important;
    }
    
}*/

/*upload button*/
.btn-primary {
    color: white;
    background-color: #689F38;
    border: none;
    float: right;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 115%;
    border-radius: 25px;
}

.btn-primary:hover{
  background: #1B5E20;
  border: none;
}

@-moz-document url-prefix() {
    .well{
      padding: 5px !important;
    }
    td{
      height: 10px !important;
    }
}

.well{
  background-color: #689F38;
  color: white;
  border-radius: 5px 20px 5px;
  /*font-weight: bold;*/
  font-family: 'Gurajada', serif;
  font-size: 160%;
  padding: 0 8% 0 8%;
}

table{
	width:100%;
}

th{
  text-align: center;
}

#s{
  width: 8% !important;
}

#s > a:hover, #n > a:hover{
  text-decoration: none;
  color: #1976d2;
}

#s > a, #n > a{
  color: #689F38;
}

td > #high{
  color: #558B2F;
  font-weight: bold;
}

#mid{
  color: #FFC107;
  font-weight: bold;
}

#low{
  color: #d50000;
  font-weight: bold;
} 

#ci{
  width: 12% !important;
}

#d{
  width: 8% !important;
}

#p{
  width: 5% !important;
}

#o{
  width: 7% !important;
}

#n{
  width: 10% !important;
}

#c{
  width: 10% !important;
}

#skill, #ed, #link{
  width: 33% !important;
}

/* valG, valLi, valI, valGPA, valS*/

  td > #valD{
    padding-left: 5%;
  }

  td > #valL{
    padding-left: 4%;
  }

  td > #valM{
    padding-left: 13.5%;
  }

  td > #valW{
    padding-left: 8.5%;
  }

  td > #valB{
    padding-left: 9.25%;
  }

  td > #valE{
    padding-left: 20%;
  }

  td > #valGPA{
    padding-left: 10%;
  }

  td > #valS{
    padding-left: 5%;
  }


@media (max-width: 768px) {
  #o{
    width: 5% !important;
    vertical-align: center;
  }

  #p{
    width: 6% !important;
  }

  #n{
    width: 15% !important;
  }

  #s{
    width: 5% !important;
  }

  #select{
    margin-left: -1%;
  }

  #upload{
    margin-right: -1%;
  }

  td > #valD{
  padding: 4.75%;
  }

  td > #valL{
    padding: 4%;
  }

  td > #valM{
    padding: 9.1%;
  }

  td > #valW{
    padding: 6%;
  }

  td > #valB{
    padding: 7%;
  }

  td > #valE{
    padding: 12%;
  }

  .alert{
    margin-right: 200px !important;
  }

  #search{
    float: left;
  }

  .btn-default{
    float: left;
  }

  #arrow{
    margin-left: 45%;
    margin-top: 13.75%;
  }

  #sb{
    margin-right: 48%;
    margin-top: 3.5%;
  }

}

td{
  text-align: center;
  width: 15%;
  bottom-border: 1px solid #CCC;
}

#body{
  text-align: left;
  width: 33%;
}


#hide{
  border-top:0 !important;
}

#file{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  border: none;
  color: #007ead; 
  background: none; 
  padding: 5%;  
}

#file:hover{
  text-decoration: none;
  background: none;
  color: #1DE9B6;
}

#eye{
  font-size: 100%;
  margin: 0;
  margin-top: .75%;
  border: none;
  color: #007ead; 
  background: none; 
  padding: 5%;
}

#eye:hover{
  text-decoration: none;
  background: none;
  color: #FDD835;
}

#up{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead;
  background: none; 
  padding: 5%;
}

#up:hover{
	text-decoration: none;
  background: none;
  color: #4CAF50;
}

#down{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
}

#down:hover {
  text-decoration: none;
  background: none;
  color: #D50000;
}

#question{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
}

#question:hover {
  text-decoration: none;
  background: none;
  color: #FF5722;
}

#back{
  font-size: 100%;
  margin: 0;
  border: none;
  color: #007ead; 
  background: none;
  padding: 5%;
}

#back:hover {
  text-decoration: none;
  background: none;
  color: #E91E63;
}

#star{
  color: #ffd700; 
  font-size: 150%;
}

.alert {
  margin-right: 850px;  
  z-index: 2;
  font-size: 100%;
}

/*search dropdown*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: 5%;
    margin-left: 107%;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-group-btn:last-child > .btn-group{
  margin-left: 0;
}
.btn-default{
  border-radius: 25px;
  margin-left: 357%;
  margin-top: 5%;
  padding: 4.5px 9px;
}
.btn-default:hover{
  background-color: #689F38;
  border-color: #689F38;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
  background-color: #689F38;
  border-color: #689F38;
}

@media (max-width: 768px) {
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
      margin-left: -275%;
      margin-top: 23%;
    }
}