/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 48%;
  border-bottom: solid #ddd;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -41%;
    left: 15%;
    padding-bottom: 20%;
    color: rgb(51, 51, 76) !important;
    text-align: center;
    text-shadow: 0 1px 2px rgba(35, 3, 3, 0.25);
    border-radius: 25px;
    z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background: none;
}


.carousel-control.left {
    /*background-image: -webkit-linear-gradient(left,rgb(0, 114, 198) 0,rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(left,rgb(0, 114, 198) 0,rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgb(0, 114, 198)),to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right,rgb(0, 114, 198) 0,rgba(255, 255, 255, 0) 100%);*/
    border-radius: 25px;
    color: black;
    background: none;
}

.carousel-control.right{
    right: 0;
    left: auto;
    border-radius: 25px;
    color: black;
    background: none;
    /*background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0, 114, 198) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0, 114, 198) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0, 114, 198)));
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgb(0, 114, 198) 100%);*/
}

#slide{
  border-radius: 25px;
  background-color: none;
}

#l2{
  width: 40%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#e2{
  width: 38%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#w2{
  width: 40%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#m2{
  width: 38%;
  height: auto;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#da2{
  width: 35%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#b2{
  width: 38%;
  height: auto;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

div > #charts12, div > #charts22, div > #charts32 {
  display: flex;
  position: relative;
  left: 5%;
  bottom: 135px;
  height: 100%;
  width: auto;
}

@media (max-width: 767px) {
  #da2, #e2, #m2, #l2, #w2, #b2{
    width: 75% !important;
  }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
   /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
