/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 48%;
  border-bottom: solid #ddd;
  animation: none;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    color: rgb(51, 51, 76) !important;
    text-align: center;
    text-shadow: 0 1px 2px rgba(35, 3, 3, 0.25);
    border-radius: 25px;
    animation: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 380px;
  background: none;
  animation: none;
}


.carousel-control.left {
    border-radius: 25px;
    color: black;
    background: none;
}

.carousel-control.right{
    right: 0;
    left: auto;
    border-radius: 25px;
    color: black;
    background: none;
}

#slide{
  border-radius: 25px;
  background-color: none;
  animation: none;
}

#l2{
  width: 40%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#Language{
  width: 285px !important;
  height: 273px !important;
}

#e2{
  width: 38%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#ETL{
  width: 285px !important;
  height: 273px !important;
}

#w2{
  width: 40%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#Web{
  font-size: 118%;
  width: 300px !important;
  height: 273px !important;
}

#m2{
  width: 38%;
  height: auto;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#Mobile{
  width: 285px !important;
  height: 273px !important;
}

#da2{
  width: 35%;
  height: auto;
  margin-right: 15%;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#Databases{
  width: 285px !important;
  height: 273px !important;
}

#b2{
  width: 38%;
  height: auto;
  font-size: 225%;
  text-align: center;
  font-family: 'Gurajada', serif;
}

#Big{
  width: 300px !important;
  height: 273px !important;
}

div > #charts12, div > #charts22, div > #charts32 {
  display: flex;
  position: relative;
  left: 3.5%;
  height: 100%;
  width: auto;
}
