h2 {
	color: #1976D2;
	font-size: 300%;
}

#phone {
	position: relative;
	height: 100px;
	width: 25%;
	border: 3px solid #686663;
	background-color: #00A6F6;
	font-size: 235%;
	text-align: center;
	vertical-align: 
}

#map {
	position: relative;
    left: 29.5%;
    float: right;
    padding-top: 10%;
}

#direct {
	position: relative;
    float: right;
	height: 100px;
	width: 25%;
	border: 3px solid #686663;
	background-color: #00A6F6;

}