.ct-chart{
  padding-left: 6.5%;
/*  margin-bottom: -10%;*/
}

.ct-series-a .ct-bar{
  stroke: #689F38;
  stroke-width: 35px;
}

.ct-label.ct-vertical.ct-start, .ct-label.ct-horizontal.ct-end {
  font-size: 75%;
}

@media (max-width: 767px) {

  .ct-chart{
    padding: 0 !important;
    position: relative;
    right: 6%; 
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .ct-chart{
    padding: 0 !important;
  }
}

